<p>The following member has created an account and confirmed their email address:</p>

<ul class="unbulleted">
	<li>Name: <%=@name %></li>
	<li>Email: <%= @email %></li>
</ul>

<p>To verify that they are a dues paying member and grant them access to the website, click <a href="http://members.casecycling.com/members/<%=@id%>/edit">here</a></p>