// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.equipmentTable{
	width: 100%;
	text-align: left;
}

#withList{
	list-style-type: none;
	margin-left: -40px;
}

.odd{
	background-color: #EEE;
}

.tableHeader{
	border-bottom: 2px solid black;
}
